:root{
    --color-ivory: #fceae1;
    --color-gunmetal: #092327;
    --color-light-red: #ffd8d5;
    --color-claret: #711c33;
    --color-green: #8ea78c;
}

@font-face {
  font-family: 'MyriadProCondensed';
  src: url(fonts/MyriadProCondensed.ttf);
}

@font-face {
  font-family: 'AguafinaScript';
  src: url(fonts/AGUAFINASCRIPT-REGULAR.TTF);
}

@font-face {
  font-family: 'Antro Vectra';
  src: url(fonts/Antro_Vectra.otf);
}

.body{
    margin: 0px;
    background-color: var(--color-ivory);
}

@font-face {
  font-family: 'Antro Vectra Bolder';
  src: url(fonts/Antro_Vectra.otf);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 224px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    max-height: max-content;
    font-family: 'Alegreya';
    font-size: 20px;
    transition: 0.5s;
    width: 0px;
    z-index: 1;
  }

  .sidebar a {
    display: block;
    color: var(--color-gunmetal);
    padding: 16px;
    text-decoration: none;
    border-style: solid;
    border-left: hidden;
    height: 24px;
    text-align: end;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.3s;
    padding: auto;
  }

  .black-key-button{
    background-color: var(--color-gunmetal);
    padding: 8px !important;
    width: 80px;
    max-height: 12px;
    position: absolute;
    margin-top: 45px;
  }
   
  .sidebar a.active {
    background-color: var(--color-claret);
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: var(--color-gunmetal);
    color: var(--color-ivory);
    
  }

.header{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: var(--color-green);
    height: 64px;
    z-index: 1;
}

.header-image-container{
  position: absolute; /* Positions logo absolutely */
  left: 50%; /* Move logo container to the center */
  transform: translateX(-50%);
  max-height: 64px;
}

.header-button-container{
  display: inline-block;
  cursor: pointer;
  margin-left: 16px;
}


.bar1, .bar2, .bar3 {
  width: 36px;
  height: 5px;
  background-color: var(--color-gunmetal);
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 13px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -13px) rotate(45deg);
}
  
.content {
    display: flex;
    background-color: var(--color-ivory);
    font-family: 'Alegreya';
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
    text-align: center;
    transition: 0.5s;
  }

.index-bio{
  background-color: var(--color-light-red);
  color: black;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  font-size: larger;
  justify-content: space-between;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.index-bio button{
  background-color: var(--color-claret);
  border-radius: 8px;
  border-width: 0px;
  padding: 8px;
  color: white;
  font-size: larger;
  font-family: 'Alegreya', serif;
  transition: 0.3s;
  margin-bottom: 16px;
}

.index-bio button:hover{
  background-color: #431723;
  cursor: pointer;
}


.index-testimonial{
  background-color: var(--color-claret) ;
  color: white;
  font-size: xx-large;
  padding: 16px;
}

.index-speech{
  color: black;
  background-color: var(--color-ivory);
  max-width: max-content;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
}

footer{
  display: flex;
  background-color: #092327;
  color: white;
  left: 0;
  bottom: 0;
  padding: 16px;
  flex-direction: row;
  justify-content: space-between;
}


  .testimonials-row{
    display: flex;
    flex-wrap: wrap;
  }

  .testimonial, .testimonial-image-container{
    display: flex;
    text-align: left;
    font-size: 20px;
    padding: 16px;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 32px;
    flex: 1;
    background-color: white;
    border-radius: 8px;
    max-width: 90vw;
    box-shadow: 12px 12px 16px 0px #ab7a76;
    flex-direction: column;
    line-height: 36px;
  }

  .testimonial-image-container img{
    margin: auto;
    max-width: 100%;
  }

  .testimonial-signature{
    text-align: end;
    margin-top: 16px;
    margin-top: auto;
    font-style: italic;
    font-size: 16px;
    color: var(--color-gunmetal);
  }

  .contact-card{
    display: flex;
    flex-direction: column;
    margin: 36px;
    background-color: var(--color-gunmetal);
    color: white;
    border-radius: 8px;
    padding: 32px;
    text-align: left;
    font-size: x-large;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .repeat-dot{
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
  }

  .mobile-divider{
    width: 100%;
  }
  
  .svg-container {
    height: 100vh; /* Full height */
    background-image: url(images/tree.svg); /* Path to your SVG */
    background-repeat: repeat-y; /* Repeat on the Y-axis */
    background-position: center; /* Center the SVG horizontally */
    background-size: contain; /* Maintain aspect ratio and stretch vertically */
}

  @media (max-width: 768px) {
    .sidebar {
        width: 0px;
    }

    .body{
        flex-direction: column;
    }

    div.content{
        margin-left: 0px;
    }

    .testimonial, .testimonial-image-container{
      display: block;
      width: 0%;
      min-width: 60%;
    }

    
}

@media (min-width: 768px){
    .mobile-divider{
      display: none;
    }

    .testimonial, .testimonial-image-container{
      margin: 36px;
    }
}

.fade-in-text {
  font-size: 380%;
  font-weight: bolder;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}